.pagination {
	margin-bottom: 0;
	margin-top: 80px;

	a,
	button {
		display: inline-block;

		&:hover,
		&:focus {
			background: none;
		}
	}

	.current {
		background: transparent;
		color: theme-color(primary);
		font-weight: $bold;
	}

	@include media-breakpoint-up(md) {

		.prev {
			margin-right: 30px;
		}

		.next {
			margin-left: 30px;
		}
	}
}
